
button {
  position: relative;
  display: inline-block;
  margin:1%;
  padding: 1% 2%;
  text-align: center;
  font-size: 100%;
  letter-spacing: 1px;
  text-decoration: none;
  color: #d5f7f8;
  background-color: #fcf7f7;
  cursor: pointer;
  transition: ease-out 0.5s;
  border-radius: 8%;
  border: 2% solid #d5f7f8;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #d5f7f8;
 }
 
 button:hover {

  box-shadow: inset 0 -100px 0 0 #d5f7f8;
 }
 
 button:active {
  transform: scale(0.9);
 }
  
  .button1,.button2,.button3,.button4 {
    
    color: black; 
    border:solid 3px black;
    border-radius: 8px;
   
  }
 